// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext");

// Partial imports
@import "partials/reset";
@import "partials/variables";
@import "partials/form";
@import "partials/animations";

// Base styles
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

// Layout
.main-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  top: 0;
  left: 0;

  background: $primaryColor url("../images/home-slide01.jpg") no-repeat center;
  background-size: cover;
  height: 60vh;
  margin-bottom: 4em;

  @media screen and (min-width: $break-md) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $break-xl) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 1em;
    height: 100vh;
  }

  .main-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
    z-index: 2;

    @media screen and (max-width: $break-xs) {
      &--sticky {
        position: fixed;
        top: 0;
        background: $primaryColor;
        opacity: 0.8;
      }
    }

    @media screen and (min-width: $break-md) {
      justify-content: center;
    }

    @media screen and (min-width: $break-xl) {
      width: initial;
    }

    &__icon {
      position: relative;
      margin-left: 1em;
      padding: 1em;
      width: 4em;
      height: 4em;
      cursor: pointer;

      @media screen and (min-width: $break-md) {
        display: none;
      }

      &--active {
        .main-logo__hamburger {
          background: rgba(0, 0, 0, 0);
          box-shadow: none;
        }

        .main-logo__hamburger::before {
          top: 0;
          transform: rotate(45deg);
        }

        .main-logo__hamburger::after {
          top: 0;
          transform: rotate(135deg);
        }
      }
    }

    &__hamburger {
      position: absolute;
      width: 100%;
      height: 10%;
      background: $primaryTextColor;
      top: 40%;
      left: 50%;
      transform: translate(-50%, 50%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.5s;
      z-index: 1;
    }

    &__hamburger::before,
    &__hamburger::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: $primaryTextColor;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.5s ease-in-out;
    }

    &__hamburger::before {
      top: -1em;
    }

    &__hamburger::after {
      top: 1em;
    }

    &__link {
      display: block;
      width: 60%;
      margin-right: 1em;
      padding: 1em 0;
      z-index: 1;

      @media screen and (min-width: $break-xl) {
        width: 80%;
        margin-left: 1em;
        padding: 0;
      }
    }
  }

  &__nav {
    width: 100%;
    position: fixed;
    left: -150%;
    top: 0;
    background: $primaryColor;
    opacity: 0.8;
    transition: left 0.6s ease-in-out;
    z-index: 1;

    @media screen and (min-width: $break-md) {
      width: initial;
      position: static;
      background: none;
    }

    @media screen and (min-width: $break-xl) {
      margin-top: 1em;
      margin-right: 1em;
    }

    &--active {
      left: 0;
    }
  }

  &__list {
    @media screen and (min-width: $break-md) {
      display: flex;
    }
  }

  &__list-item {
    padding: 3em 1em;
    color: $primaryTextColor;
    text-align: center;
    transition: background-color 0.2s ease-in-out;

    @media screen and (min-width: $break-md) {
      padding: 0.7em 0;
      border-right: 1px solid $primaryTextColor;

      &:first-child,
      &:last-child {
        border-right: none;
      }
    }

    &:first-child:hover {
      background: initial;
    }

    &:hover,
    &:focus {
      background: darken($color: $primaryColor, $amount: 5);
    }
  }

  &__link {
    font-size: 1.2em;
    padding: 2.5em 3em;
    text-transform: uppercase;

    @media screen and (min-width: $break-md) {
      padding: 1em 1.5em;
      font-size: 0.8em;
    }
  }
}

.main-content {
  width: 96%;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: $break-md) {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: $break-xl) {
    width: 80%;
  }
}

.card {
  margin-bottom: 2em;
  cursor: pointer;

  @media screen and (min-width: $break-md) {
    flex: 0 48%;
    padding: 1em 0;
  }

  @media screen and (min-width: $break-xl) {
    flex-basis: 31%;
  }

  &__img {
  }

  &__title {
    font-size: 2em;
    text-align: center;
    padding: 0.2em 0;
  }

  &__price {
    text-align: center;
  }
}

.modal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;

  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;

  &__content {
    position: relative;
    display: flex;
    top: 20%;
    width: 90%;
    background-color: #fefefe;
    margin: 0 auto;
    padding: 0.5em;
    border: 1px solid #888;
    border-radius: 5px;

    animation-name: fadeInAndScale;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;

    @media screen and (min-width: $break-md) {
      width: 80%;
      padding: 1em 1em 2.5em 1em;
    }
  }

  &__img {
    width: 30%;
    max-height: 40vh;
    object-position: top;
    object-fit: cover;
    padding-right: 0.5em;

    @media screen and (min-width: $break-md) {
      padding-right: 1.5em;
    }

    @media screen and (min-width: $break-xl) {
      width: 25%;
      max-height: 50vh;
    }
  }

  &__wrapper {
    width: 60%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $break-md) {
      padding: 0 1em;
    }
  }

  &__title {
    position: relative;
    font-size: 1.5em;
    padding-bottom: 0.4em;
    margin-bottom: 0.4em;
    text-transform: uppercase;

    @media screen and (min-width: $break-md) {
      font-size: 2em;
    }

    @media screen and (min-width: $break-xl) {
      font-size: 2.5em;
    }

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      width: 1em;
      border-bottom: 1px solid #000;
    }
  }

  &__desc {
    font-size: 0.8em;
    color: $secondaryTextColor;
    overflow: hidden;

    @media screen and (min-width: $break-md) {
      font-size: 1em;
    }
  }

  &__price {
    width: 15em;
    margin: 1em 0;
    padding: 1em;
    border-top: 1px dashed $secondaryTextColor;
    border-bottom: 1px dashed $secondaryTextColor;
    font-size: 0.9em;
    color: darken($color: $secondaryTextColor, $amount: 30);

    @media screen and (min-width: $break-xl) {
      font-size: 1.2em;
    }
  }

  &__btn {
    width: 15em;
    background: $secondaryButtonColor;
    border: none;
    outline: none;
    color: $primaryTextColor;
    text-transform: uppercase;
    padding: 1em 2em;
    transition: background-color 0.3s;

    @media screen and (min-width: $break-xl) {
      font-size: 1.2em;
    }

    &:hover,
    &:focus {
      background: darken($color: $secondaryButtonColor, $amount: 5);
    }

    &--disable {
      background-color: grayscale($color: $secondaryButtonColor);

      &:hover,
      &:focus {
        background-color: grayscale($color: $secondaryButtonColor);
      }
    }
  }

  &__close {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    color: $secondaryTextColor;
    float: right;
    font-size: 2em;
    cursor: pointer;
  }
}

.cart {
  width: 100%;
  border: 1px solid $secondaryTextColor;
  display: none;
  flex-direction: column;
  margin-bottom: 4em;
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: $break-md) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $break-xl) {
    width: 80%;
  }

  &__header {
    width: 100%;
    padding: 0.5em;
    font-size: 2em;
  }

  &__cart {
    float: left;
    padding-right: 4em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid;
  }

  &__total {
    float: right;

    &--red {
      color: $deleteButtonColor;
    }
  }

  &__item {
    color: $secondaryTextColor;
    font-size: 0.8em;
    padding: 1em 2em;
    margin: 1em 0;

    &::after {
      display: block;
      content: "";
      clear: both;
    }

    @media screen and (min-width: $break-md) {
      flex: 0 50%;
      &:nth-child(2n + 0) {
        border-right: 1px solid $secondaryTextColor;
      }
    }

    @media screen and (min-width: $break-xl) {
      flex: 0 33%;

      border-right: 1px solid $secondaryTextColor;
      &:nth-child(3n + 1) {
        border-right: none;
      }
    }
  }

  &__img {
    width: 45%;
    padding-right: 1em;
    float: left;
  }

  &__wrapper {
    width: 55%;
    float: left;
  }

  &__title {
    font-size: 1.5em;
    text-transform: uppercase;
  }

  &__desc {
    overflow: hidden;
    height: 10em;
    margin-bottom: 1em;
    padding: 0.5em 0;
  }

  &__btn {
    border: none;
    outline: none;
    font-size: 0.9em;
    color: $primaryTextColor;
    text-transform: uppercase;
    padding: 1em;
    background: $deleteButtonColor;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: darken($deleteButtonColor, 15%);
    }
  }
}

.main-footer {
  background: $primaryColor;
  color: $primaryTextColor;
  text-align: center;
  font-size: 0.8em;
  padding: 2em;
}
