// Variables

// Colors
$primaryColor: #261d52;
$primaryTextColor: #fff;
$secondaryTextColor: #d3d3d3;
$buttonColor: #5f92c9;
$secondaryButtonColor: #00aa54;

// Breakpoints
$break-xs: 760px;
$break-md: 761px;
$break-xl: 1025px;
